/* ================= БАЗОВІ НАЛАШТУВАННЯ ================= */
* {
  box-sizing: border-box; /* Розміри елементів включатимуть рамки та внутрішні відступи (padding) */
}

body {
  font-family: 'Roboto', sans-serif; /* Встановлює основний шрифт сторінки */
  color: #434455; /* Задає основний темно-сірий колір тексту для всіх параграфів */
  background-color: #ffffff; /* Робить фон всієї сторінки білим */
  line-height: 1.5; /* Встановлює міжрядковий інтервал для кращої читабельності */
  letter-spacing: 0.02em; /* Додає невеличку відстань між літерами */
  font-weight: 400; /* це мабуть не обов'язково */
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; /* Скидає стандартні зовнішні відступи браузера, щоб не ламалася сітка */
}

ul {
  list-style-type: none; /* Прибирає стандартні крапки біля елементів списку */
  padding-left: 0; /* Скидає стандартний відступ списку зліва */
  margin: 0; /* Скидає стандартні зовнішні відступи списку */
}

img {
  display: block; /* Робить картинку блоком, щоб під нею не було "паразитного" порожнього місця */
  max-width: 100%; /* Гумова картинка: вона ніколи не вилізе за межі свого батьківського контейнера */
  height: auto; /* Зберігає пропорції картинки при зміні її ширини */
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1158px; /* Обмежує максимальну ширину контенту на великих екранах */
  /* Відцентровує контейнер на сторінці */
  margin-left: auto;
  margin-right: auto;
}
/* Варіант приховування */
/* .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
} [cite: 2] */

.section-title {
  color: #2e2f42;
  text-align: center; /* Відцентровує заголовок по горизонталі посередині сторінки */
  font-weight: 700; /* Робить шрифт жирним */
  font-size: 36px;
  line-height: 1.11; /* Міжрядковий інтервал (співвідношення висоти рядка до розміру шрифту) */
  letter-spacing: 0.02em;
  margin-bottom: 72px; /* Робить великий відступ вниз до наступного елемента (списку карток) */
}
/* нам не пояснили як це працює */
.sr-only {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}
