.features {
  padding: 120px 0; /* здається це можна налаштувати в загальному контейнері. Дає великі відступи (повітря) зверху і знизу від контенту секції */
}

.features-list {
  display: flex; /* Розставляє 4 картки переваг (Strategy, Punctuality...) у горизонтальний ряд поруч одна з одною */
  gap: 24px; /* Задає фіксовану відстань (розрив) між картками у 24 пікселі */
}

.features-item {
  width: calc(
    (100% - 72px) / 4
  ); /* Математично вираховує ідеальну ширину кожної картки (від 100% віднімаємо 3 проміжки по 24px і ділимо на 4) */
}

.features-icon-container {
  display: flex; /* Використовує флекс, щоб легко та ідеально відцентрувати іконку всередині рамки */
  align-items: center; /* Центрує SVG іконку по вертикалі всередині контейнера */
  justify-content: center; /* Центрує SVG іконку по горизонталі всередині контейнера */
  height: 112px; /* Жорстко фіксує висоту світло-сірого прямокутника */
  background-color: #f4f4fd; /* Заливає цей прямокутник дуже світлим, ледь помітним сіро-синім кольором */
  border: 1px solid #8e8f99; /* Малює тонку сіру рамку навколо контейнера з іконкою */
  border-radius: 4px; /* Легенько заокруглює кути цієї сірої рамки */
  margin-bottom: 8px; /* Відштовхує заголовок (напр., "Strategy") вниз від контейнера з іконкою */
}

/* Фарбуємо іконку мабуть не обов'язково */
.features-icon {
  fill: #2e2f42; /* Заливає темним кольором саму "начинку" (векторні контури) SVG іконки */
}

.features-subtitle {
  margin-bottom: 8px; /* Додає відступ вниз від заголовка до сірого тексту опису переваги */
  font-weight: 500; /* Робить підзаголовок середньої жирності */
  font-size: 20px; /* Задає середній розмір тексту для заголовків карток */
  line-height: 1.2; /* Встановлює міжрядковий інтервал */
  letter-spacing: 0.02em; /* мабуть зайве.  Додає трохи простору між літерами */
  color: #2e2f42; /* Фарбує підзаголовок у темно-синій колір */
}

.features-text {
  color: #434455; /* Фарбує звичайний текст-опис під заголовком у світліший, приглушений сірий колір */
}
